*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;

    font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
    margin:0;
    padding: 0;
    margin-bottom: 45px !important;
    margin-top: 50px !important;
    text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin:0;
    padding:0;
}
fieldset, img {
    border:0;
}
address, caption, cite, code, dfn,  th, var {
    font-style:normal;
    font-weight:normal;
}
ol, ul {
    list-style: none outside none;
    margin:0;
    padding: 0;
}
caption, th {
    text-align:left;
}
h1, h2, h3, h4, h5, h6 {

    font-weight:normal;
}
a {
    color:#000000;
    text-decoration: none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
#footer{

    width: 100%;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #ccc;

}
#bar{
    font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 45px;
    background: rgba(255, 255, 255, 0.7);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e7e4e7), to(#b9b9b9));
    border-top: 1px solid #b3b3b3;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.9) inset;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    overflow: hidden;
}
.menu{
    -webkit-box-flex: 1;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.1)));
    -webkit-background-size: 1px 100%, 1px 100%;
    background-size: 1px 100%, 1px 100%;
    background-position: 1px center, 2px center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    width: 33%;
    height: 45px;
    line-height: 45px;
    color: #4f4d4f;
    font-size: 15px;
}
.menu a,.menu a:visited,.menu a:hover,.menu a:link{
    color: #4f4d4f;
}
#title{
    width: 100%;
    height: 46px;
    line-height: 46px;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    font-size: 20px;
    color: #000;
    /* font-weight: bold; */
    word-break: normal;
    word-wrap: break-word;
    display: block;
    margin: 0 auto;
    min-width: 320px;
    height: 45px;
    top: 0;
    border-bottom: 1px solid #D1D1D1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f9f9f9));
    background-image: -webkit-linear-gradient(#ffffff, #f9f9f9);
    background-image: -moz-linear-gradient(#ffffff, #f9f9f9);
    background-image: -ms-linear-gradient(#ffffff, #f9f9f9);
    background-image: -o-linear-gradient(#ffffff, #f9f9f9);
    background-image: linear-gradient(#ffffff, #f9f9f9);
    /* opacity: 0.95; */
}
#text{
    width: 95%;
    margin: 0 auto;
    word-break: normal;
    word-wrap: break-word;
    padding-bottom: 10px;
}
#text img{
    width: 100%;
    margin: 10px 0px 0px 0px;
}
p{
    text-align: left;
    text-indent: 30px;
    margin: 10px 0px 0px 0px;
    font-size: 16px;
    line-height: 26px;
    table-layout: fixed;
    word-wrap: break-word;
    /* word-break: break-all; */
    font-size: 14px;
}
.submit{
    background-color: #179F00;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #0B8E00;
    background-image: linear-gradient(bottom, #179F00 0%, #5DD300 100%);
    background-image: -o-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
    background-image: -moz-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
    background-image: -webkit-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
    background-image: -ms-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, #179F00),
            color-stop(1, #5DD300)
    );
    -webkit-box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}